body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  .navtop{
   background-color: #FEFEFE;
   padding: 0 4% 0 4%;
   margin: 0;
  }
  
  .navbarsignin{
   margin-top: 5px;   
  }

  .graydiv{
      background-color: #F0F2F3;
      text-align: center;
  }
  .whitediv{
      background-color: #FEFEFE;
      text-align: center;
  }
  .toppadding{
   padding-top: 6%;   
  }
  .rapper{
 
  }
  .hero-title{
      font-size: 1.2em;
      font-weight: light;
  }
  #hero-second-title{
      font-size: 1.5em;
      font-weight: 100;
  }
 #mainbtn{
  background-color: #288EDF;
  margin: 5% 0 3% 0;
 }
 .smltxt{
    font-size: 0.9em;
     color: #288EDF;
  }
 .rec-image{
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin: 2% 0 4% 0;
 }
 .footerdiv{
  background-color:  #13181B;
  padding: 3% 0 3% 0;
  text-align: center;
 }
.topbtn{
 background-color: #288EDF;
 color: #FEFEFE;
}

.alert-danger, .alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7
}
.alert-danger h4, .alert-error h4 {
	color: #b94a48
}

.inline-error {

	color: #a94442;
	font-weight:700;
}

.selectorbtn{
 margin: 2% 3% 2% 3%;   
}

/**
.form-horizontal .control-label {
	
	font-weight: bolder;
	-webkit-font-smoothing: subpixel-antialiased;!important;
	display: inline-block;
	float: none;
	width: 28%;
	padding-top: 1em;
	text-align: left;
	
}
   */ 